<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.Magento.TestRunner.S1UserRegistrationTestNGTR" />
			<class name="com.Magento.TestRunner.S2LoginProductSearchTestNGTR" />
			<class name="com.Magento.TestRunner.S3CheckoutPaymentTestNGTR" />
			<class name="com.Magento.TestRunner.S4LoginValidInvalidTestNGTR" />
			<class name="com.Magento.TestRunner.S5LoginMultipleProductsTestNGTR" />
			<class name="com.Magento.TestRunner.S6LogoutVerificationTestNGTR" />
		</classes>

	</test> <!--
	Test -->

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
	</listeners>

</suite> <!--
Suite -->
